
html body div.modal {
 
  position: fixed;
  width: 500px;
  z-index: 1040;
  top: 13%;
  left: 33%;
  background-color: white;
  /* border: 1px solid rgba(0, 0, 0, 0.2); */
  border: none;
  border-radius: 3px;
  box-shadow: 0 5px 15px rgb(11 11 11 / 50%);
}
@media screen and (max-width: 1139px) {
  html body div.modal{
    width: 400px;
    left: 25%;
  }
}
@media screen and (max-width: 1139px) {
  html body div.modal{
    width: 400px;
    left: 20%;
  }
}
@media screen and (max-width: 560px) {
  html body div.modal{
    width: 300px;
    left: 18%;
  }
}
@media screen and (max-width: 389px) {
  html body div.modal{
    left: 8%;
  }
}
@media screen and (max-width: 335px) {
  html body div.modal{
    left: 2%;
  }
}
.modal-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-title {
  font-weight: bolder;
  font-size: 1.25rem;
}

.backdrop {
  position: fixed;
  z-index: 1040;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.5;
}

.modal-header {
  border-bottom: 1px solid #e9ecef;
  display: flex;
  justify-content: space-between;
}

.modal-desc,
.modal-header,
.modal-footer {
  padding: 20px;
}

.close-button {
  font-size: 1.5rem;
  opacity: 0.7; 
  cursor: pointer;
}

.modal-btn {
  cursor: pointer;
  font-size: 1rem;
  padding: 10px 12px;
  border-radius: 5px;
  border: none;
}

.modal-footer {
  border-top: 1px solid #e9ecef;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}


/* ************* */
.modal-box {
  width: 100%;
}

.modal-field {
  margin: 10px;
}

.modal-field label {
  font-weight: bold;
}

.btn-modal {
  padding: 5px 13px;
  font-weight: bold;
  background-color: rgb(193, 248, 134);
  border: none;
  border-radius: 4px;
}

.btn-modal:hover {
  background-color: rgb(248, 177, 177);
}